@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home {
  background: rgba(252, 251, 249, 0.68);
  color: #4d4f56;
  display: flex;
  flex-direction: column;
  height: 100%; }

.container {
  max-width: 1270px;
  margin: 0 auto; }

a {
  text-decoration: none; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #eaebeb; }

.white_button {
  min-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  cursor: pointer;
  padding: 5px; }
  .white_button:hover {
    border: 1px solid #f16d7f;
    color: #f16d7f;
    transition: 1s ease; }
  .white_button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.navi {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none; }

.nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  cursor: pointer; }
  .nav-link:hover {
    color: #006400; }

.active a {
  font-size: 20px;
  color: #8B0000; }
.user_list {
  display: flex;
  justify-content: center;
  align-items: center; }
  .user_list li {
    list-style-type: none;
    font-family: 'PT Serif', serif;
    margin-bottom: 5px; }
.posts_list li {
  list-style-type: none;
  font-family: 'PT Serif', serif;
  margin-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif; }
.organization {
  width: 100%; }

.profile {
  display: flex; }
