html,
body {
    height: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    display: flex;
    justify-content: space-between;
}

.wrap > .container {
    padding: 70px 15px 20px;
    max-width: 60%;
}

.wrap > .container_my {
    padding: 70px 15px 20px;
    margin: 0 auto;
    max-width: 98%;
    min-width: 98%;
    display: flex;
    flex-direction: column;
}

.left_panel {
    height: 100%;
    width: 19%;
    padding: 0px 20px 20px 20px;
}

.right_panel {
    height: 100%;
    width: 19%;
    padding: 0px 20px 20px 20px;
}

.center_panel {
    height: 100%;
    width: 62%;
    padding: 0px 15px 20px 15px;
}

.space_around{
    display: flex;
    justify-content: space-around;
}

.space_between{
    display: flex;
    justify-content: space-between;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.breadcrumb{
    background-color: #fafafa!important;
}

h1 {
    padding-top: 0px;
    margin-top: 5px;
}

/* ------------TASK--------------------------- */

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #eceeef #eceeef #ddd;
}

.nav-tabs .nav-link.disabled {
    color: #636c72;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #464a4c;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.nav-tabs .nav-item.show .nav-link {
    color: #464a4c;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
    color: #fff;
    cursor: default;
    background-color: #0275d8;
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

a.badge:focus, a.badge:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-default {
    background-color: #636c72;
}

.badge-default[href]:focus, .badge-default[href]:hover {
    background-color: #4b5257;
}

.badge-primary {
    background-color: #0275d8;
}

.badge-primary[href]:focus, .badge-primary[href]:hover {
    background-color: #025aa5;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-success[href]:focus, .badge-success[href]:hover {
    background-color: #449d44;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-info[href]:focus, .badge-info[href]:hover {
    background-color: #31b0d5;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-warning[href]:focus, .badge-warning[href]:hover {
    background-color: #ec971f;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-danger[href]:focus, .badge-danger[href]:hover {
    background-color: #c9302c;
}

.head-left {
    width: 50%;
    margin-top: 50px;
    float: left;
}

.head-right {
    width: 50%;
    margin-top: 50px;
    float: left;
}

.area-name {
    margin-top: 50px;
}

.txt-status {
    width: 100px;
    height: 35px;
    float: left;
}

.form-control {
    width: 400px;
}

.txt-status {
    width: 100px;
    height: 35px;
    float: left;
    color: black;
}

.area-dateline {
    margin-top: 50px;
}

.txt-status {
    width: 100px;
    height: 35px;
    float: left;
}